USE [master]
GO
/****** Object:  Database [TesteAeC]    Script Date: 26/10/2023 18:54:00 ******/
CREATE DATABASE [TesteAeC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TesteAeC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TesteAeC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TesteAeC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TesteAeC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TesteAeC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TesteAeC]
GO
/****** Object:  Table [dbo].[ClimaAeroporto]    Script Date: 26/10/2023 18:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClimaAeroporto](
	[ClimaAeroportoId] [int] IDENTITY(1,1) NOT NULL,
	[CodigoIcao] [varchar](50) NOT NULL,
	[UltimaAtualizacao] [datetime] NOT NULL,
	[PressaoAtsmoferica] [varchar](50) NOT NULL,
	[Visibilidade] [varchar](50) NOT NULL,
	[Vento] [int] NOT NULL,
	[DirecaoVento] [int] NOT NULL,
	[Umidade] [int] NOT NULL,
	[Condicao] [varchar](50) NOT NULL,
	[CondicaoDescricao] [varchar](150) NULL,
	[Temp] [int] NOT NULL,
 CONSTRAINT [PK_ClimaAeroporto] PRIMARY KEY CLUSTERED 
(
	[ClimaAeroportoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClimaCidade]    Script Date: 26/10/2023 18:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClimaCidade](
	[ClimaCidadeId] [int] IDENTITY(1,1) NOT NULL,
	[CidadeNome] [varchar](150) NOT NULL,
	[Estado] [char](2) NOT NULL,
	[UltimaAtualizacaoCidade] [datetime] NOT NULL,
	[UltimaAtualizacaoClima] [datetime] NOT NULL,
	[Condicao] [char](10) NOT NULL,
	[Min] [int] NOT NULL,
	[Max] [int] NOT NULL,
	[IndiceUv] [int] NOT NULL,
	[CondicaoDescricao] [varchar](150) NOT NULL,
 CONSTRAINT [PK_ClimaCidade] PRIMARY KEY CLUSTERED 
(
	[ClimaCidadeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogErro]    Script Date: 26/10/2023 18:54:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogErro](
	[LogErroId] [int] IDENTITY(1,1) NOT NULL,
	[Data] [datetime] NOT NULL,
	[Erro] [varchar](200) NOT NULL,
 CONSTRAINT [PK_LogErro] PRIMARY KEY CLUSTERED 
(
	[LogErroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
